/*
	// constants
	$image-common-directory : (string) relative path to common assets
	$image-deployment-directory : (string) relative path to deployment assets
		* defaults to function defined in config.rb that returns deployment path defined there

	// functions
	image($img, [$only-path], [$prefer-common])
	* img : (string) the image to use, include the relative path from either 'Branding' folder
	* only-path : (bool) passing a true value will return the path string instead of a url() function
	* prefer-common : (bool) passing a true value will an available common image, even if a deployment version exists

	// description
	Returns a url function or path to an image to where it exists. 
	Selects the image from the deployment if it exists, otherwise selects from the common directory if it exists.
	Warns when image does not exist.
	Selects extension of image if none is provided
*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\000033}}
body {
  font-family: sans-serif;
  color: #111; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\000037}}
td {
  padding: 1em;
  border: solid #fff;
  border-width: 4px 0;
  background: #eee;
  font-size: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000314}}
th {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  padding: 2em 0 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000320}}
.label {
  width: 400px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000324}}
.result,
.expected {
  width: 120px;
  font-size: 12px;
  color: #555; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000329}}
.result {
  background-image: url("/Common/Branding/images/no-image.png");
  background-position: 1em center;
  background-repeat: no-repeat;
  background-color: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000339}}
#basic {
  background-image: url("/Deployments/BrandA/Branding/images/image.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000342}}
#basic-path {
  background: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000344}}
  #basic-path:after {
    content: "/Deployments/BrandA/Branding/images/image.png"; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000357}}
#basic-png {
  background-image: url(/Deployments/BrandA/Branding/images/image.png); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000360}}
#basic-jpg {
  background-image: url(/Deployments/BrandA/Branding/images/image.jpg); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000363}}
#basic-jpeg {
  background-image: url(/Deployments/BrandA/Branding/images/image.jpeg); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000366}}
#basic-gif {
  background-image: url(/Deployments/BrandA/Branding/images/image.gif); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000371}}
#dir-common-only {
  background-image: url("/Common/Branding/images/common.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000374}}
#dir-deployment-only {
  background-image: url("/Deployments/BrandA/Branding/images/deployment.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000377}}
#dir-both-prefer-common {
  background-image: url("/Common/Branding/images/image.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000380}}
#dir-common-only-prefer-common {
  background-image: url("/Common/Branding/images/common.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000383}}
#dir-deployment-only-prefer-common {
  background-image: url("/Deployments/BrandA/Branding/images/deployment.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000386}}
#dir-both-prefer-deploy {
  background-image: url("/Deployments/BrandA/Branding/images/image.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000389}}
#dir-common-only-prefer-deploy {
  background-image: url("/Common/Branding/images/common.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000392}}
#dir-deployment-only-prefer-deploy {
  background-image: url("/Deployments/BrandA/Branding/images/deployment.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\0000397}}
#ext-no-ext {
  background-image: url("/Deployments/BrandA/Branding/images/image.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\00003100}}
#ext-no-png {
  background-image: url("/Deployments/BrandA/Branding/images/no-png.jpg"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\00003103}}
#ext-no-png-jpg {
  background-image: url("/Deployments/BrandA/Branding/images/no-png-jpg.jpeg"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\00003106}}
#ext-no-png-jpg-jpeg {
  background-image: url("/Deployments/BrandA/Branding/images/no-png-jpg-jpeg.gif"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\00003114}}
#ext-png-no-png {
  background-image: url("/Deployments/BrandA/Branding/images/no-png.jpg"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\00003117}}
#ext-jpg-no-jpg {
  background-image: url("/Deployments/BrandA/Branding/images/jpg-no-jpg.jpeg"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\00003120}}
#ext-jpeg-no-jpeg {
  background-image: url("/Deployments/BrandA/Branding/images/jpeg-no-jpeg.jpg"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\00003123}}
#ext-jpg-no-jpg-jpeg {
  background-image: url("/Deployments/BrandA/Branding/images/jpg-no-jpg-jpeg.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\00003126}}
#ext-gif-no-gif {
  background-image: url("/Deployments/BrandA/Branding/images/gif-no-gif.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\00003131}}
#ext-png-common-jpg-deploy {
  background-image: url("/Deployments/BrandA/Branding/images/png-common-jpg-deploy.jpg"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\00003134}}
#ext-png-png-common-jpg-deploy {
  background-image: url(/Common/Branding/images/png-common-jpg-deploy.png); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\00003137}}
#ext-jpg-jpeg-common-png-deploy {
  background-image: url("/Common/Branding/images/jpeg-common-png-deploy.jpeg"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/SourceControl\/imageTest\/Deployments\/BrandA\/Branding\/SASS\/screen\.scss}line{font-family:\00003140}}
#ext-jpeg-png-common-jpg-deploy {
  background-image: url("/Deployments/BrandA/Branding/images/png-common-jpg-deploy.jpg"); }
